@page
@model MindfulLens_WebApp.Pages.BannedModel
@{
    ViewData["Title"] = "Banned";
    Layout = "~/Pages/Shared/_EmptyLayout.cshtml";
}

<div class="tab-label">Sorry, you were banned</div>
<div class="empty-page-div">
    <a class="blue-button" href="/Home">Back to home</a>
</div>
