@page
@model MindfulLens_WebApp.Pages.Forgot_Password_ResettedModel
@{
    Layout = "~/Pages/Shared/_NoSidebarLayout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="tab-label">Successfully resetted</div>
<div class="login-container" style="top: 30%; transform: translate(-50%, -30%);">
    <a class="blue-button" href="/Home" style="width: 250px;">Back to home page</a>
</div>
