@page
@model MindfulLens_WebApp.Pages.Login_Forgot_Password_EmailModel
@{
    Layout = "~/Pages/Shared/_NoSidebarLayout.cshtml";
    ViewData["Title"] = "Forgot password";
}

<div class="tab-label">Forgot password</div>

<div class="login-container" style="top: 40%; transform:translate(-50%, -40%);">
    <div class="regular-label" style="text-align: center;">Enter you email so we can send you code for password reset. The code is going to be valid for 5 minutes</div>
    <input type="text" class="login-input" placeholder="Enter email" />
    <div class="login-error-label" style="text-align: center;">Aboba</div>
    <a class="blue-button" href="/Login-Forgot-Password-Code">Send</a>
</div>
