@page
@model MindfulLens_WebApp.Pages.New_PasswordModel
@{
    Layout = "~/Pages/Shared/_NoSidebarLayout.cshtml";
    ViewData["Title"] = "Forgot password";
}

<div class="tab-label">Forgot password</div>


<div class="login-container" style="top: 40%; transform:translate(-50%, -40%);">


    <div class="login-label">New password</div>
    <div class="password-box">
        <input type="password" class="login-input" id="NewPassword" placeholder="Enter new password" />
        <div class="show-password"><img src="~/Open eye 2.png" height="35px" id="NewPasswordEye" onclick="NewPasswordClick()" /></div>
    </div>
    <div class="login-error-label"></div>




    <a class="blue-button" href="/Forgot-Password-Resetted">Save</a>
</div>

<script>
    function NewPasswordClick() {
        var i = document.getElementById("NewPassword");
        var e = document.getElementById("NewPasswordEye");

        if (i.type == "text") {
            i.type = "password";
            e.src = "/Open eye 2.png";
        }
        else {
            i.type = "text";
            e.src = "/Closed eye.png";
        }
    }

    function ConfirmNewPasswordClick() {
        var i = document.getElementById("ConfirmNewPassword");
        var e = document.getElementById("ConfirmNewPasswordEye");

        if (i.type == "text") {
            i.type = "password";
            e.src = "/Open eye 2.png";
        }
        else {
            i.type = "text";
            e.src = "/Closed eye.png";
        }
    }
</script>
