@page
@model MindfulLens_WebApp.Pages.News_PageModel
@{
    ViewData["Title"] = "News";
    Layout = "~/Pages/Shared/_EmptyLayout.cshtml";
}

<a class="back-button" href="/News-And-Interviews">← Back</a>

@if (Model.news != null)
{
    <div class="tab-label" style="color: white;">@Model.news.Title</div>

    <div class="class-page-flex">
        <div class="publications-container" style="row-gap: 50px;">
            <div class="class-page-title-label" style="color: white;">Content</div>
            <div class="class-page-content-label" style="color: white;">@Model.news.Text</div>
        </div>
    </div>

    <div class="created-by-label" style="color: white;">
        Created by
        @if (!Model.news.Creator.Banned)
        {
            <span class="created-by-user-label">@@@Model.news.Creator.Username</span>
        }
        else
        {
            <span class="created-by-user-label">CommonData.userBanned</span>
        }
        on @Model.news.CreationDate.ToString("dd/MM/yyyy")
    </div>
}
else
{
    <div class="tab-label">Sorry, we couldn't find these news</div>
}