@page
@model MindfulLens_WebApp.Pages.RegisterModel
@{
    Layout = "~/Pages/Shared/_NoSidebarLayout.cshtml";
    ViewData["Title"] = "Sign up";
}

<div class="tab-label">Sign up</div>

<form method="post" asp-page-handler="Aboba">
    <div class="register-container">
        <div class="register-textbox-container">
            <div class="login-label">Name</div>
            <input type="text" class="login-input" placeholder="Enter name" asp-for="userModel.Name" />
            <div class="login-error-label">
                <span asp-validation-for="userModel.Name"></span>
            </div>
        </div>
    
    
        <div class="register-textbox-container">
            <div class="login-label">Email</div>
            <input type="text" class="login-input" placeholder="Enter email" asp-for="userModel.Email" />
            <div class="login-error-label">
                <span asp-validation-for="userModel.Email"></span>
            </div>
        </div>
    
    
        <div class="register-textbox-container">
            <div class="login-label">Username</div>
            <input type="text" class="login-input" placeholder="Enter username" asp-for="userModel.Username" />
            <div class="login-error-label">
                <span asp-validation-for="userModel.Username"></span>
            </div>
        </div>
    
    
        <div class="register-textbox-container">
            <div class="login-label">Password</div>
            <div class="password-box">
                <input type="password" class="login-input" id="PasswordInput" placeholder="Enter password" asp-for="userModel.Password" />
                <div class="show-password"><img src="~/Open eye 2.png" height="35px" id="password-eye" onclick="ShowPassword()" /></div>
            </div>
            <div class="login-error-label">
                <span asp-validation-for="userModel.Password"></span>
            </div>
        </div>

        <div class="login-error-label" style="grid-column-start: 1; grid-column-end: 3;">@Model.errorMessage</div>
    
        @* <div class="two-divs-div" style="column-gap: 100px; grid-column-start: 1; grid-column-end: 3;">
            <div class="remember-me">
                <input class="remember-me-checkbox" type="checkbox" />
                <div class="regular-label" style="text-align: left;">Remember me</div>
            </div>
            <div class="change-password"></div>
        </div> *@
        <div class="blue-button" style="grid-column-start: 1; grid-column-end: 3;">
            <input type="submit" value="Sign up" asp-page-handler="SignUp"/>
        </div>
    
    
        @* <div class="two-divs-div" style="column-gap: 100px; grid-column-start: 1; grid-column-end: 3;">
            <div class="remember-me">
                <input class="remember-me-checkbox" type="checkbox" />
                <div class="regular-label" style="text-align: left;">Remember me</div>
            </div>
            <div class="change-password"></div>
        </div>
        <a class="blue-button" href="/Email-Verification" style="grid-column-start: 1; grid-column-end: 3;">Sign up</a> *@
        @* <div class="regular-label" style="grid-column-start: 1; grid-column-end: 3;">or</div>
        <div class="login-with-google" style="grid-column-start: 1; grid-column-end: 3;">
            <div class="two-divs-div" style="margin: auto;">
                <div class="google-photo">
                    <img src="~/Google__G__logo.png" height="45px" style="margin: auto;" />
                </div>
                <div class="regular-label" style="color: black; margin: auto; text-align: center; cursor: pointer;">Sign up with google</div>
            </div>
        </div> *@
        <div class="regular-label" style="grid-column-start: 1; grid-column-end: 3;">Already have an accout? <a class="register-blue-label" href="/Login">Login</a></div>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />