@page
@model MindfulLens_WebApp.Pages.Successfully_EditedModel
@{
    ViewData["Title"] = "Successfully edited";
}

<div class="tab-label">Successfully edited</div>
<div class="empty-page-div">
    <a class="blue-button" href="/Home">Back to home</a>
</div>
