@page
@model MindfulLens_WebApp.Pages.Successfully_PublishedModel
@{
    ViewData["Title"] = "Successfull report";
}

<div class="tab-label">Successfully published</div>
<div class="empty-page-div">
    <a class="blue-button" href="/Home">Back to home</a>
</div>
