@page
@model MindfulLens_WebApp.Pages.Admin.Questions_From_UsersModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Questions from users";
}

<div class="tab-label">Questions from users</div>
