<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MindfulLens_WebApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

        <div class="side-logo" id="logo">
            <img src="~/Group 1.png" width="80%" draggable="false" style="pointer-events: none; user-select: none;" />
        </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script>
        function ShowPassword() {
            var i = document.getElementById("PasswordInput");
            var e = document.getElementById("password-eye");

            if (i.type == "text") {
                i.type = "password";
                e.src = "/Open eye 2.png";
            }
            else {
                i.type = "text";
                e.src = "/Closed eye.png";
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>